/* CenterMenu */

.menu {
  li:hover {
    cursor: pointer;
    color: #555;
  }
}

/* Header */

.header {
  #log-in:hover {
    color: #555;
  }

  .logo:hover {
    cursor: pointer;
  }
}

/* Hero Section */

.hero {
}

/* Download */

.download {
  img:hover {
    cursor: pointer;
  }
}

/* Experience */

.experience {
}

/* Feature */

.feature {
  img {
    cursor: pointer;
  }
}

/* Footer */

.footer {
}
